.footer__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0 59px 0 0;
}

@media screen and (max-width: 1254px) {
  .footer__list {
    margin-right: 34px;
  }
}

@media screen and (max-width: 670px) {
  .footer__list {
    flex-direction: column;
    margin-bottom: 38px;
  }
}

@media screen and (max-width: 500px) {
  .footer__list {
    margin-bottom: 44px;
  }
}

