.search__input {
  background: #FFFFFF;
  border: 1px solid #D1D2D6;
  box-sizing: border-box;
  backdrop-filter: blur(8px);
  border-radius: 100px;
  padding: 20px 21px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(14,26,57,.2);
}

@media screen and (max-width: 894px){
  .search__input {
    padding: 16px 21px;
  }
}
