@import url('./__search/page__search.css');
@import url('./_fixed/page_fixed.css');

.page {
  min-width: 320px;
  font-family: "Roboto", "Arial", sans-serif;
  text-rendering: optimizeLegibility;
  color: #1A1B22;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
