.author__image {
  border-radius: 100%;
  margin: 0 56px 0 0;
  max-width: 464px;
  max-height: 464px;
}

@media screen and (max-width: 1254px) {
  .author__image {
    margin: 17px 31px 0 0;
    max-width: 232px;
    max-height: 232px;
  }
}
@media screen and (max-width: 670px) {
  .author__image {
    margin: 32px auto;
    max-width: 272px;
    max-height: 272px;
  }
}

@media screen and (max-width: 500px) {
  .author__image {
    margin: 0 auto 24px;
  }
}
