.description__title {
  font-size: 18px;
  font-weight: 400;
  color: rgba(26, 27, 34, 0.5);
  margin: 0 0 31px;
}

@media screen and (max-width: 894px) {
  .description__title {
    font-size: 14px;
    margin-bottom: 21px;
  }
}

@media screen and (max-width: 500px) {
  .description__title {
    font-size: 12px;
    margin-bottom: 21px;
  }
}
