@import url('./__container/articles__container.css');
@import url('./__title/articles__title.css');
@import url('./__show-more/aticles__show-more.css');
@import url('./__show-more/_disabled/articles__show-more_disabled.css');
@import url('./_disabled/articles_disabled.css');

.articles {
  background-color: #F5F6F7;
  box-sizing: border-box;
  padding: 80px;
}

@media screen and (max-width: 1254px) {
  .articles {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 894px) {
  .articles {
    padding: 16px 40px 40px;
  }
}

