.search__button {
  padding: 20px 52px;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  cursor: pointer;
}

.search__button:disabled {
  background-color: #E6E8EB;
  color: rgba(0, 0, 0, .2);
  box-shadow: none;
}

@media screen and (max-width: 894px) {
  .search__button {
    padding: 14px 47px;
  }
}

@media screen and (max-width: 500px) {
  .search__button {
    position: inherit;
    padding: 16px 44px;
  }
}
