@import url('./__fieldset/search__fieldset.css');
@import url('./__title/search__title.css');
@import url('./__label/search__label.css');
@import url('./__input/search__input.css');
@import url('./__button/search__button.css');
@import url('./__container/search__container.css');
@import url('./__form/search__form.css');

.search {
  background-image: url("../../images/background.jpg");
  background-size: cover;
  box-sizing: border-box;
  padding: 118px 0 79px;
  color: #fff;
}

@media screen and (max-width: 894px){
  .search {
    padding: 76px 0 19px;
  }
}

@media screen and (max-width: 894px){
  .search {
    padding-bottom: 5px;
  }
}
