@import url('./__fieldset/search__fieldset.css');
@import url('./__title/search__title.css');
@import url('./__label/search__label.css');
@import url('./__input/search__input.css');
@import url('./__button/search__button.css');
@import url('./__container/search__container.css');

.search {
  background-image: url("../../images/background.jpg");
  background-size: cover;
  box-sizing: border-box;
  padding: 80px 0;
  color: white;
}
