.article-card__button-description {
  box-sizing: border-box;
  padding: 8px 12px;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: 0 5px 0 0;
  font-weight: 500;
  font-size: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
