.popup__content {
  width: 430px;
  min-height: 380px;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px 28px;
}

@media screen and (max-width: 500px) {
  .popup__content {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: calc(100% - 56px);
    padding: 17px;
  }
}
