.header__button_logged {
  padding: 12px 21px;
}

.header__button_logged:after {
  position: relative;
  top: 2px;
  left: 1px;
  transition: left .2s linear;
  height: 18px;
  width: 16px;
}

@media screen and (max-width: 894px) {
  .header__button_logged {
    padding: 10px 15px;
  }
}
