.article-card__button {
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #fff;
  padding: 13px;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
}
